@font-face{font-family:'Cantarell';src:local('Cantarell Regular'),local(Cantarell-Regular),url(/fonts/Cantarell-Regular.woff2) format("woff2");font-weight:400;font-style:normal}
body{background-color:#f6f5f4;font-family:'Cantarell',sans-serif}
.text,a:active,a:link,a:visited,body,svg{color:#313131}
table{background-color:#99c1f1;border:solid #99c1f1;border-radius:25px;height:10px;width:100%;text-align:center;vertical-align:middle;padding:0}
th,td{background-color:#99c1f1;border:solid #1a5fb4;border-radius:25px;height:10px;text-align:center}
th:hover,th.selected{background-color:#1a5fb4}
.header{top:0;position:fixed;left:-5px;padding:5px;width:100%;text-align:center}
.footer{bottom:0;position:fixed;left:-5px;padding:5px;width:100%;text-align:center}
.center{display:block;margin-left:auto;margin-right:auto}
H1,H2{text-align:center; font-weight: bold;}
P{text-align:justify}

@media (prefers-color-scheme:dark) {
body{background-color:#313131;font-family:'Cantarell',sans-serif}
.text,a:active,a:link,a:visited,body,svg{color:#f6f5f4}
table{background-color:#1a5fb4;border:solid #1a5fb4;border-radius:25px;height:10px;width:100%;text-align:center;vertical-align:middle;padding:0}
th,td{background-color:#1a5fb4;border:solid #99c1f1;border-radius:25px;height:10px;text-align:center}
th:hover,th.selected{background-color:#99c1f1}
}

